@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #383838;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}


.custom-dragger.ant-upload {
  border: 2px solid black !important; /* Borde negro */
  border-radius: 0 !important; /* Sin bordes redondeados */
  background-color: transparent !important; /* Fondo transparente */
  min-height: 56px; /* Altura mínima para que coincida con otros inputs */
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-dragger.ant-upload-drag:hover {
  border-color: black !important; /* Mantener borde negro al hacer hover */
}

.custom-dragger.ant-upload.ant-upload-drag {
  padding: 0 !important;
}

/* Elimina el relleno del texto y asegura alineación */
.ant-upload-text {
  margin: 0 !important;
  font-size: 16px !important; /* Ajusta el tamaño del texto */
  text-align: center;
}

